
/* SuisseIntl Font - Core Variants */
@font-face {
	font-family: 'SuisseIntl';
	src: url('fonts/SuisseIntl-Book.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SuisseIntl';
	src: url('fonts/SuisseIntl-BookItalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'SuisseIntl';
	src: url('fonts/SuisseIntl-SemiBold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'SuisseIntl';
	src: url('fonts/SuisseIntl-SemiBoldItalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'SuisseIntl';
	src: url('fonts/SuisseIntl-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SuisseIntl';
	src: url('fonts/SuisseIntl-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

$font-family: 'SuisseIntl', sans-serif;

