@import "colors";

#dialog-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  #dialog-box {
    background-color: $dialog_box_background;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    text-align: center;

    #dialog-content {
      margin: 2rem;
      padding: 1rem;

      #dialog-buttons {
        display: flex;
        justify-content: center;
        padding: 2rem 0 0 0;

        button {
          margin: 0 10px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

#result {
  margin-top: 20px;
  width: 50%;
  display: inline-block;

  #loading {
    display: block;
  }

  .loading-spinner {
    display: inline-block;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }

  #motors-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;

    .motor {
      border: 1px solid $border_color;
      border-radius: 8px;
      padding: 15px;

      h2,
      h3 {
        margin: 0 0 10px 0;
      }

      .applications {
        margin-top: 10px;
        padding-left: 20px;

        .application {
          border: 1px solid $border_color;
          border-radius: 8px;
          padding: 10px;
          margin-top: 10px;

          .cycles {
            margin-top: 10px;
            padding-left: 20px;
          }
        }
      }
    }
  }
}
