.background-image {
  background-image: url("/static/background_drivesystem.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  //height: 100vh; /* Vollbild */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

.text-container {
  z-index: 1;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.grow-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

// Login-Form
#loginForm {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  margin: 50px auto;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;

  * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }

  h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }

  .note {
    display: flex;
    justify-content: space-between;
  }

  label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }

  input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }

  &::placeholder {
    color: #e5e5e5;
  }

  button {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }

  #loginButton {
    &:disabled {
      opacity: 0.6;
      background-color: #dddddd;
      cursor: not-allowed;
    }
  }

  .error-message {
    color: #d32f2f;
    font-size: 0.875rem;
    display: none;
    margin-top: 0.25rem;
    min-height: 1.2em;    
  }
  
  .password-requirements {
      display: block;
      color: #666;
      margin-top: 0.5rem;
      font-size: 0.875rem; 
    }
}

// my-drive-systems
#applicationAccordion {
  .status-circle {
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}