@import "colors";

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

#loading {
  margin-top: 20px;
  color: $white;
}

.steps {
  .step {
    width: 100%;
    margin-bottom: 35px;
    .step-icon-wrap {
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 3px;
        margin-top: -1px;
        background-color: #e1e7ec;
        content: "";
        z-index: 1;
        left: -50%;
      }
    }
    .step-icon {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 40px;
      border: 3px solid #e1e7ec;
      border-radius: 50%;
      background-color: black;
      line-height: 35px;
      z-index: 5;
    }
    .step-title {
      margin-top: 16px;
      margin-bottom: 0;
      color: #606975;
      font-size: 14px;
    }
    &:first-child {
      .step-icon-wrap {
        &::before {
          display: none;
        }
      }
    }
  }
  .step.completed {
    .step-title {
      color: white;
    }
    .step-icon-wrap {
      &::before {
        background-color: greenyellow;
      }
    }
    .step-icon {
      border-color: greenyellow;
    }
  }
  .step.active {
    .step-title {
      color: white;
    }
    .step-icon-wrap {
      &::before {
        background-color: blue;
      }
    }
    .step-icon {
      border-color: blue;
    }
  }
}

#search-container {
  position: relative;
  i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: $white;
    pointer-events: none;
  }
  #search_input {
    padding: 12px 20px 12px 50px;
    border: 1px solid #ddd;
    margin-top: 5px;
  }
}

.transparent-table {
  width: 100%;
  table-layout: fixed;
  td {
    background: transparent;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  .table-header {
    background-color: $table_header_background;
  }
}

.select-radio {
  transform: scale(1.5);
  margin: 0;
  cursor: pointer;
}

.tab {
  display: none;
  justify-content: center;
  border: 1px solid $border_color;
  background-color: $tab_background;
  button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    margin-top: initial;
    width: initial;
    &:hover {
      background-color: $tab_background_hover;
    }
  }
  button.active {
    background-color: $tab_background_active;
  }
}

.xxl_text {
  font-size: xx-large;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid $border_color;
  border-top: none;
  animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#status-updates{
  .status {
    i {
        display: none;
        margin-left: 10px;
    }  
    &.active i.loading {
        display: inline-block;
        animation: spin 1.5s linear infinite;    
    }
    &.complete i.okay,
    &.error i.error {
        display: inline-block;    
    } 
  } 
}

#result {
  margin-top: 20px;
  width: 95%;
  display: inline-block;

  #loading {
    display: none;
  }
}

.green_text {
  color: green;
}

.red_text {
  color: red;
}

.orange_text {
  color: orange;
}

.hidden {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

#cycle_table {
  --bs-table-bg: transparent !important;
}
#cycle_table.table-borderless {
  tbody {
    tr {
      border: none;
      &:last-child {
        border-top: 2px solid #dee2e6;
      }
    }
  }
}

.result-view {
  visibility: hidden;
}
