<!DOCTYPE html>
<html lang="{{ lang }}" data-bs-theme="dark">

<head>
  {% include 'partials/_head.html' %}
  <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet" />
</head>

<body class="bg-black pb-5">
  {% include 'partials/_header.html' %}

  <div id="dashboard">
    <h1 class="text-center p-3">{{my_mind_scape}}</h1>

    <div class="container">

    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-12">{% include "partials/_my_motor_buttons.html" %}</div>

        <div class="col-12">{% include "partials/_my_drive_systems.html" %}</div>

        <div class="col-12 d-flex flex-column">{% include "partials/_my_models.html" %}</div>
        <div class="col-12 d-flex flex-column">{% include "partials/_training_progress.html" %}</div>
      </div>
    </div>
  </div>
  {% include 'partials/_footer.html' %}
</body>

</html>